* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  display: flex;
  font-family: montserrat;
}

.apariencia {
  font-size: 2rem;
  cursor: pointer;
  margin: 30px;
}

.nav-card li {
  list-style: none;
  padding: 10px;
  font-weight: bold;
}

.apariencia:hover>.buy-card {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 0;
  background-color: #ffff;
  border: solid 1px black;
}

.apariencia:hover .nav-card {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  border-bottom: solid thin #e1e1e1;
}

.apariencia:hover .buy-card>button {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  background-color: transparent;
  border: solid thin #e1e1e1;
  color: #494848;
  cursor: pointer;
}

.apariencia:hover .buy-card>button:hover {
  border: solid thin #494848;
  transition: all .4s;
}

.nav-card {
  display: none;
}

.apariencia button {
  display: none;
}

.divisionCabecera {
  width: 10%;
}

/* Logo que esta en la cabecera */
#logoImagen {
  width: 100%;
  height: auto;
}

/* Los links de la barra de navegacion de la cabecera los puse dentro de una lista*/
#listaLinkBarra {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 50px;
}

.barraNave {
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

/* Cada uno de los link que posee la barra de navegacion de la cabecera */
.linkCabecera {
  background: rosybrown;
  color: white;
  padding: 10px;
}

/*Acomodar los elementos del carrito*/
.lista_de_prendas div {
  display: none;
  text-align: center;
  padding: 20px 0 0 40px;
  border-top: solid thin gray;
}

.apariencia:hover .buy-card>.lista_de_prendas div {
  display: flex;
}

.lista_de_prendas img {
  width: 90px;
}

.lista_de_prendas p {
  width: 100px;
  font-size: 12px;
}

/* selecciono de lista_de_cursos a su hijo num entre () */
.lista_de_prendas p:nth-child(2) {
  padding-left: 10px;
}

.lista_de_prendas p:nth-child(3) {
  padding-left: 10px;
}

.lista_de_prendas p:nth-child(4) {
  padding-left: 50px;
}

.lista_de_prendas p:last-child span {
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  margin-left: 20px;
  color: #fff;
}

.divisionProductos h3,
p {
  text-align: center;
}

/* Animacion que esta entre la cabecera y el cuerpo principal (solo en el index) */
#animacion {
  width: 100%;
  /* Para mantener la proporción de la imagen */
}

/* Titulo del cuerpo principal */
.tituloMain {
  text-align: center;
  font-family: montserrat;
  font-size: 25px;
  color: aliceblue;
  border: 2px solid #bc8f8f;
  background-color: rosybrown;
}

.seccionProductos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 650px;
  padding: 20px;
  gap: 10px;
}

.fotoPrenda {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 5px;
}

.divisionProductos {
  background-color: rgb(185, 152, 136);
  border: 1px solid black;
  border-radius: 5px;
}

.contenedorFotos {
  position: relative;
  width: 100%;
  height: 480px;
  float: left;
 }
  /*aquí te agregue el efecto de transición en 0.3segundos*/
 .contenedorFotos img {
  position: absolute;
  left: 0;
  transition: opacity 0.3s ease-in-out;
 }
 /*y con hover detectamos si el puntero de mouse esta por encima*/
 .contenedorFotos img.arriba:hover {
  opacity: 0;
 }

.info {
  padding: 5px;
  display: grid;
  place-items: center;
  position: static;
}

.info h3 {
  font-size: 1.6rem;
  color: #222;
  margin-bottom: 8px;
}

.info p {
  font-size: 17px;
  color: #222;
  margin-bottom: 8px;
}

.info a {
  display: flex;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: #222;
  border-radius: 10px;
  padding: 5px 5px;
  justify-content: center;
  color: #fff;
}

.info a:hover {
  background-color: rgb(0, 0, 0);
  transition: all .3s;
}

.tachado {
  text-decoration: line-through;
}

.precio {
  display: flex;
  font-weight: bolder;
}

.precio p {
  font-size: 20px;
}

.info button {
  padding: 3px;
  width: 50%;
  background-color: rgb(46, 45, 45);
  border: none;
  outline: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.info button:hover {
  background-color: black;
  transition: all .3s;
}

/* Estilos para el footer */

#footer {
  font-family: montserrat;
  background-color: rosybrown;
  padding: 20px 0 0 10px;
}

.footer-links {
  float: left;
  width: 30%;
  margin-right: 5%;
}

.contact-info {
  float: left;
  width: 30%;
  margin-right: 5%;
}

.social-media {
  float: left;
  width: 30%;
}

.footer-links ul,
.contact-info ul,
.social-media ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li,
.contact-info ul li,
.social-media ul li {
  margin-bottom: 10px;
}

.footer-links h3,
.contact-info h3,
.social-media h3 {
  margin-top: 0;
}

.footer-links a,
.contact-info a,
.social-media a {
  text-decoration: none;
  color: white;
}

.footer-links a:hover,
.contact-info a:hover,
.social-media a:hover {
  color: whitesmoke;
}

/* Estilos para la sección de copyright */
.copyright {
  clear: both;
  text-align: left;
  padding-top: 10px;
  margin-left: 0%;
}

/* Da formato al mapas de Contacto */
iframe {
  display: flex;
  width: 100%;
}

h3 {
  font-family: montserrat;
}

/* Estilos para pantallas celulares  */
@media screen and (max-width: 768px) {
  .cabecera {
    flex-direction: column;
    align-items: center;
  }

  .barraNave,
  #carrito {
    margin-top: 20px;
  }

  .seccionProductos {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }

  .divisionProductos {
    margin-bottom: 30px;
  }
}

/* Estilos para pantallas tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cabecera {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .barraNave,
  #carrito {
    margin-top: 0;
  }

  .seccionProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px;
  }

  .divisionProductos {
    margin-bottom: 20px;
  }
}

/* Estilos para pantallas monitores */
@media screen and (min-width: 1025px) {
  .cabecera {
    justify-content: space-between;
    align-items: center;
  }

  .barraNave,
  #carrito {
    margin-top: 0;
  }

  .seccionProductos {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 650px;
  }

  .divisionProductos {
    margin-bottom: 0;
  }
}