/* Indumentaria version 1.0 Beta (obvio que no es response ni nada*/
/* Hice CSS provisorio pues el html sin formato se veia horrible!!! */


/* Cabecera de la pagina es comun a todas, (incluye el logo y la barra de navegacion con 5 link) */
#Cabecera {
    display: flex;
    font-family: montserrat;
}

#DivisionCabecera{
    width: 10%;
}

/* Logo que esta en la cabecera */
#LogoImagen {
    width: 100%;
    height: auto;
    /* Para mantener la proporción de la imagen */
}

/* Los links de la barra de navegacion de la cabecera los puse dentro de una lista (no estoy muy seguro*/
#ListaLinkBarra {
    display: flex;     
    list-style: none;
    
}

/* Cada uno de los link que posee la barra de navegacion de la cabecera */
.LinkCabecera {    
    background: rosybrown;
    color: white;
    padding: 10px;
}

/* Animacion que esta entre la cabecera y el cuerpo principal (solo en el index) */
#animacion {
    width: 100%;
    height: 10%;
    grid-row: span 5;
    /* Para mantener la proporción de la imagen */
}

/* Titulo del cuerpo principal */
.TituloMain {
    text-align: center;
    font-family: montserrat;
    size: 25px;
    color: aliceblue;
    border: 2px solid #bc8f8f;
    background-color: rosybrown;


}

/* El Pie de pagina es comun a todas, (contiene 3 links) */
#footer {
    border: 2px solid rosybrown;
}

/* Link que posee el pie de pagina en su interior */
.LinkFooter {
   
    color: royalblue;
    font-family: montserrat;

}

/* Da formato a las fotos de las prendas del cuerpo principal y a las prendas de promociones */
.FotoPrenda {
    width: 33%;
}

/* Da formato al mapas de Contacto */
iframe {
    display: flex;
    width: 100%;
}

h3 {
    font-family: montserrat;
}

/* aca intente hacer una caja para poner en cada foto y desde ahi ir a la 
            pagina de productos pero no me salio,  sigue en css 

.container{
    height: 50%;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(8,1fr);
}

.cajaColor{
    background-image: linear-gradient(to top,blue 0%, pink 100%);
    grid-column: 2/6;
    grid-row: 2/7;
} */
